<template>
  <div>
    <div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
	    <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
          <h1 class="text-grey-darkest">Todo List v.1.0.0</h1>
          <div class="flex mt-4">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" v-model="todo" v-on:keyup.enter="add" placeholder="Add Todo">
            <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:bg-teal" :disabled="todo.trim().length==0" @click="add">Add</button>
          </div>
        </div>
        <div class="px-1">
          <div class="flex mb-4 items-center cursor-pointer todo-item" v-for="(task,index) in computItems" :key="task.id">
            <p class="w-full text-grey-darkest todo-item-text" :class="{ 'line-through': task.done === 1 }" @click="toggleDone(task.id,index)">{{task.todo}}</p>
            <button class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:bg-red" @click="remove(task.id,index)">Delete</button>
          </div>
        </div>
        <button class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:bg-red hidden" @click="removeall()">Delete All</button>
    </div>
</div>
  </div>
</template>
<script>
import axios from "@/todoAxios.js";
 
export default {
  name: 'Todo',
  props: {
    msg: String,
    propItems: Array
  },
  data(){
    return {
      todo:"",
      items:[]
    }
  },
  computed:{
    computItems() {
      return this.propItems ? this.propItems : this.items
    }
  },
  methods:{
    toggleDone(id, index) { 
      var self = this
      var selected  = this.items.find(p=>p.id===id)
      selected.done =  1-selected.done
      var payload = selected
      axios.put("/todo",payload)
      .then(response=>{
        if(response.status===201){
          self.items.splice(index,1)
          self.items.splice(index,0,selected)
        }
      })
    },
    remove(id,index) {
      var payload = {id:id}
      axios.delete("/todo", { data: payload})
      .then(response=>{
        if(response.status===200){
          this.items.splice(index,1)
        } else{
          console.log(response)
        }
      });
    },
    add() {
      var self = this
      axios.post("/todo",[{ todo: this.todo,done:0}])
      .then(response=>{
        console.log(response)
        if(response.status === 201) {
          if(!self.items){
            self.items=[]
          }
          self.items.push(response.data[0])
        }
      })
      this.todo = ""
    }
  },
  created(){
    var  self = this;
    axios.get('/todo')
    .then(response=> {
      console.log(response);
      self.items = response.data;
    })
  }
}
</script>
